<!DOCTYPE html>

<html>

<head>

</head>

<body>
    {{>header}}
    <br />
    <br />
    <div class="ui segment">
        <div class="ui container">
            <h3>Tools Sudah disesuikan dengan Data Kabupaten Jayapura. </h3>
        </div>
    </div>

    {{>footer}}

</body>

</html>