<!DOCTYPE html>

<html>

<head>

</head>

<body>
    {{>header}}
    <br />
    <br />
    <div class="ui segment">
        <div class="ui container">
            <img class="ui centered huge image" src="/img/tools-logo.png" alt="">
            {{!-- <a class="ui primary button" href="/data/listing/renja">Test Req</a> --}}
        </div>
    </div>

    {{>footer}}

</body>

</html>