<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,700" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <link rel="icon" type="image/png" href="/img/logo-jdev.png" />

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>!-->

    <title>{{title}}</title>
</head>

<body>
    <div class="inverted">
        <div class="ui container">
            <div class="ui violet fixed inverted menu">
                <div class="item">
                    <img src="icon/logo-kabupaten.png" alt="logo" />
                </div>
                <div class="active item">
                    <a href="/">Home</a>
                </div>
                <div class="item">
                    <a href="/config">Config Auth</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>